ul {   menu
  list-style-type: none; 
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: antiquewhite;  achtergrondkleur antiekwit
}

li {  
  float: left; mijn menu komt links te staan
}

body {
  background-color: cornsilk; achtergrondkleur pagina is 'cornsilk'
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: burlywood;
}

.active {
  background-color: antiquewhite;
;
}

.container {
  position: relative;
}

.center {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

body {
  text-align: center;
  margin: 0%;
}
h1 {
  border-style: solid;
  border-color: peru;
  margin: 2%;
}

iframe {
  margin: 5%;
  float: left;
}

p {
  margin: 5%;
}

footer {
  text-align: center;
  padding: 7px;
  background-color: peru;
  color: black;
}