ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: antiquewhite;
;
}

li {
  float: left;
}

body {
  background-color: cornsilk;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: burlywood;
}

.active {
  background-color: antiquewhite;
;
}

.container {
  position: relative;
}

.center {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

img { 
  width: 40%;
  height: auto;
  opacity: 0.8;
  margin: 50% left;
  margin-top: 20%;
  opacity: 0.8;
  align-items: center;
}
h1 {
  text-align: center;
}
